@use "sass:color";

body {
  margin: 0;
  padding: 0;
}

.button {
  border-radius: $border-radius-sm;
  padding: $spacing-sm $spacing-xl;
  background-color: $primary-color;
  color: $white;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: color.adjust($primary-color, $blackness: 15%);
  }
}
