@import 'tailwindcss';

:root {
  --navigation-height: 3.125rem;
  --layout-body-max: 48rem;
}

@theme {
  --grid-template-columns-layout: [full-start left-sidebar-start] 14rem [left-sidebar-end] 2rem
    [body-start] minmax(0, var(--layout-body-max)) [body-end] 2rem [right-sidebar-start] 1fr
    [full-end right-sidebar-end];

  --color-basic: hsl(205 60.2% 37.6%);
  --color-danger: hsl(200, 70%, 50%);
}
